<h1> Welcome to C </h1>
<center>
	<%= link_to "Sign in", "#", class:"btn btn-large btn-primary" %> <br>
	<%= link_to "Register!", "#" %>
</center>

<h1>Root#home</h1>
<p>Find me in app/views/root/home.html.erb</p>
